/* Properties for other selectors */
* {
  font-family: Monaco;
}

.menu,
.ll {
  text-align: center;
  color: #fa9f42;
}

.ll {
  font-size: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid #495e57;
}

.menu-container {
  max-width: 800px;
  display: flex;
  justify-content: center;
  background-color: #e0e0e2;
}

/* Add rules for the steps mentioned below */
